<div class="panel panel-success">
  <div class="panel-heading">
    Listado de coches en alquiler
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Modelo</th>
            <th>Año</th>
            <th>km</th>
            <th>precio/dia</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
