<div class="panel panel-success">
  <div class="panel-heading">
    {{titulo}}
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table"
          *ngIf = "coches && coches.length">
        <thead>
          <tr>
            <th>Modelo</th>
            <th>Año</th>
            <th>km</th>
            <th>precio/dia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of coches">
            <td> {{c.modelo}} </td>
            <td> {{c.anyo}} </td>
            <td> {{c.km}} </td>
            <td> {{c.precio}} </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
