<div class="panel panel-success">
  <div class="panel-heading">
    {{titulo}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Modelo: {{filtro_modelo}}</div>
      <div class="col-md-2">
        <input type="text"
         [(ngModel)]="filtro_modelo"/>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" (click)="mostrar_ocultar_Precio()">
          {{mostrar_precio ? "Ocultar" : "Mostrar"}} precio
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table"
          *ngIf = "coches && coches.length">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>km</th>
            <th>precio/dia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of coches">
            <td>
              <img [src]="c.imagen" [style.width.px]="img_width">
            </td>
            <td> {{c.modelo | uppercase}} </td>
            <td> {{c.anyo}} </td>
            <td> {{c.km}} </td>
            <td *ngIf = "mostrar_precio == true"> {{c.precio | currency:'EUR':true:'2.1-1'}} </td>
            <td *ngIf = "mostrar_precio == false">  </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
